.sidebar{

    width:250px;

    min-height:100vh;

    background:#e7d3a6;

    border-right:1px solid #ece5d8;

    padding:25px 18px;

    display:flex;
    flex-direction:column;

    box-shadow:4px 0 18px rgba(0,0,0,.04);
}

.sidebar h2{

    text-align:center;

    color:#7c4a1d;

    font-size:24px;

    font-weight:700;

    margin-bottom:35px;

    padding-bottom:18px;

    border-bottom:2px solid #f5e6c8;
}

.sidebar a{

    display:flex;

    align-items:center;

    gap:12px;

    text-decoration:none;

    color:#555;

    font-size:16px;

    font-weight:600;

    padding:14px 18px;

    margin:6px 0;

    border-radius:14px;

    transition:all .25s ease;
}

.sidebar a:hover{

    background:linear-gradient(135deg,#f59e0b,#f97316);

    color:white;

    transform:translateX(6px);

    box-shadow:0 8px 18px rgba(249,115,22,.25);
}

.sidebar a:active{

    transform:scale(.97);
}