.modal-overlay{

    position:fixed;

    left:0;

    top:0;

    width:100%;

    height:100%;

    background:rgba(0,0,0,.45);

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:999;

}

.role-modal{

    background:white;

    width:430px;

    border-radius:15px;

    padding:25px;

    animation:show .2s;

}

@keyframes show{

    from{

        transform:scale(.9);

        opacity:0;

    }

    to{

        transform:scale(1);

        opacity:1;

    }

}

.role-modal h2{

    margin-top:0;

}

.modal-user{

    margin:20px 0;

}

.modal-user p{

    margin:8px 0;

}

.role-modal label{

    display:block;

    margin-bottom:8px;

    font-weight:bold;

}

.role-modal select{

    width:100%;

    padding:10px;

    border-radius:8px;

    border:1px solid #ccc;

    margin-bottom:25px;

}

.modal-actions{

    display:flex;

    justify-content:flex-end;

    gap:12px;

}

.cancel-btn{

    background:#9e9e9e;

    color:white;

    border:none;

    padding:10px 20px;

    border-radius:8px;

    cursor:pointer;

}

.save-btn{

    background:#1976d2;

    color:white;

    border:none;

    padding:10px 20px;

    border-radius:8px;

    cursor:pointer;

}

.save-btn:hover{

    background:#0d47a1;

}

.cancel-btn:hover{

    background:#757575;

}